@media screen and (max-width: 767px) {
	.name, .desc, .logoCol, .projectText, .projectName, .url, .projectImg {
		text-align: center;
	}
}

@media screen and (min-width: 768px) {
	.logoImg {
		width: 90px;
	}
	.nameCol {
		text-align: right;
	}
	.name {
		font-size: 50px;
	}
	.desc {
		font-size: 20px;
	}
	.middleImg {
		display: block;
		margin: auto;
	}
	.projectText, .projectName {
		font-size: 40px;
	}
}

@media screen and (min-width: 992px) {
	.logoImg {
		width: 110px;
	}
	.name {
		font-size: 70px;
	}
	.desc {
		font-size: 30px;
	}
	.projectText, .projectName {
		font-size: 50px;
	}
	.image {
		width: 220px;
	}
}
