@media screen and (max-width: 767px) {
	.name,
	.desc,
	.logo-col,
	.project-text,
	.project-name,
	.url,
	.project-img {
		text-align: center;
	}
}

@media screen and (min-width: 768px) {
	.logo-img {
		width: 90px;
	}

	.name-col {
		text-align: right;
	}

	.name {
		font-size: 50px;
	}

	.desc {
		font-size: 20px;
	}
	.middle-img {
		display: block;
		margin: auto;
	}

	.project-text,
	.project-name {
		font-size: 40px;
	}

}

@media screen and (min-width: 992px) {
	.logo-img {
		width: 110px;
	}

	.name {
		font-size: 70px;
	}

	.desc {
		font-size: 30px;
	}

	.project-text,
	.project-name {
		font-size: 50px;
	}

	.image {
		height: 220px;
		max-width: 100%;
		padding: auto;
	}

}
